body{
	background:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:1.6em;
	margin:0;
}
.container{
	width:90%;
	margin:auto;
	overflow:hidden;
}
#main-header{
	background:coral;
	color:#fff;
}
#navbar {
	background:black;
	color:#fff;
}
#navbar ul{
	padding:0;
	list-style:none;
}
#navbar li{
	display:inline;
}
#navbar a{
	color:#fff;
	text-decoration:none;
	font-size:16px;
	padding-right:14px;
	margin:2px;
}
#showcase {
	background-image:url("../images/showcase.jpeg");
	background-position:center right;
	height:300px;
	margin-bottom:30px;
	text-align:center;
}
#main h1 {
    color: black;
    font-size: 31px;
    line-height: 1.6em;
    padding-top: 30px;
}
/* screen => 600 pixels*/

@media screen and (min-width: 600px) {
    
	#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}
    aside#sidebar {
    float: right;
    width: 30%;
    padding:10px;
    box-sizing: border-box;
}
	
	
}
/* screen < 599 pixels*/


@media screen and (max-width: 599px) {
    
#main {
    width: 100%;
    //padding: 0 30px;
    box-sizing: border-box;
    }

#sidebar{
		//padding:10px;
        width: 100%;	
}
	
	
}


#main-footer{
	text-align:center;
}
