* {
  padding:0;
  margin:0;
  font-family: Arial,Helvetica,freesans,sans-serif;
} 
#navbar {
    display:grid;
    grid-template-columns:1.40fr 1.99fr 0.9fr 0.9fr 0.85fr 0.82fr 1.2fr 0.9fr 1fr 1fr 1.7fr 2.5fr;;
    background:#000000;
    color:white;
    justify-items: center;
    align-items:center; 
}
#navbar > li {
    border-right:1px solid white;
    list-style: none;
}
.padding-20 {
    padding-left:20px;
    padding-right:20px;
}
.padding-34 {
    padding-left:20px;
    padding-right:34px;
}
#navbar > li > a {
    text-decoration:none;
    font-size:13px;
    font-weight:700;
    color:white;
}

#bbc {
    height:30px;
}

#signin{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1.5rem;
}
#bbcDiv {
}
#navbar {
    
}