* {
    margin:0;
    padding:0;  
}
.container {
    display:flex;
    justify-content:center;
}
.container > div  {
    background:green;
    color:blue;
    width:300px;
}
.container > div > h3 {
    color:red;
}
.container > div {
    margin:15px;
}