* {
    margin:0;
    padding:0;
}
.container {
    height:700px;
    background:green;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    align-content:flex-end;

}

.container > div {
    background:yellow;
    border:1px solid orange;
}
.container > div {
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
}

.box:nth-child(odd){
    background:#1e1e1e;
    color:white;    
}
.box:nth-child(even){
    background:green;
}
.container > div > div {
    border:5px solid black;
}
.container > div > div {
    width:1000px;
    padding:25px;
    height:20%;
}