/**{
	margin:0;
	padding:0;
}
*/
body{
	background-color:#f4f4f4;
	color:#555555;
	font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
	font-weight:normal;
	/*shorter form */
	font: normal 16px Arial, Helvetica, 
	    sans-serif;
	line-height:1.0em;/*can also do px for pixels but em is for more responsive websites*/
    margin:0;
}
.container{
	width:80%;
	margin:auto;
}
.box-1{
	background-color:#333;
	color:#ffffff;
	/*
	border-right:5px red solid;
	border-left:5px red solid;
	border-top:5px red solid;
	border-bottom:5px red solid;
	*/
	border: 5px red solid;
	/*pixels color style*/
	/*
	border-width:10px;
	border-bottom-width:5px;
	border-top-style:dotted;
	*/
	padding:20px;
	margin:20px 0;
}
.box-1 h1{
	font-family:Tahoma;
	font-weight:800;
	font-style:italic;
	text-decoration:underline;
	text-transform:uppercase;
	letter-spacing:0.2em;
	word-spacing:1em;
}
.box 2{
	border:3px dotted #ccc;
	padding:20px;
	margin:20px 0;
}
#main-block{
	float:left;
	width:70%;
	padding:15px;
	box-sizing:border-box;
}
#side-block{
	float:right;
	width:30%;
	background-color:#333;
	color:#fff;
	padding:15px;
	box-sizing:border-box;
}
#clr{
	clear:both;
}
a{
	text-decoration: none;
	color:#000;
}
a:hover{
	color:green;
}
.categories{
	border:1px #ccc solid;
	padding:10px;
	border-radius:15px;
	
}
.categories h2 {
	text-align:center;
}
.categories ul{
	padding-left:7px;
    list-style:square;
	list-style:none;
}
.categories li{
	padding-bottom:none;
	border-bottom:#333 dotted 1px;
	list-style-image: url("../../images/sample.jpg");
}
/* .my-form{
	margin:20px;
}
*/
form.my-form {
    padding: 10px;
    padding-left: 5px;
}
.my-form .form-group{
	padding-bottom:15px;
}
.my-form label{
	display:block;
}
form.my-form input[type="text"],input[type="email"], textarea{
    padding: 7px;
    width: 500px;
}
.button{
	background-color:#000000;
	color:#ffffff;
	padding:10px 5px;
	border:none;
}
.button:hover{
	background:green;
	color:#fff;
}
.block{
	float:left;
	width:33.3%;
	/*border:1px solid #ccc;*/
	border:1px solid;
	padding:10px;
	box-sizing:border-box;
}
.p-box{
	width:1020px;
	height:315px;
	border:1px dotted;
	margin:7px;
	position:relative;
	background-image:url("../../images/sample3.png");
	background-repeat: no-repeat;
	background-position:center top;
}
.p-box h3{
	position:absolute;
	top:40px;
	left:200px;
}
.p-box h2{
	position:absolute;
	bottom:30px;
	right:10px;
}
.rolling{
	float:left;
	position:fixed;
	top:400px;
}
.my-list li:nth-child(even){
	color:blue;
}
.my-list li:nth-child(odd){
	background-color:purple;
}
.my-list li:nth-child(odd){
	background-color:greenf;
}

